
.elementAlign{
  margin: auto;
  position: fixed;
  top: 30%;
  left: 5%;
  bottom: 0;
  right: 5%;
}

.card-style{
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  height:100px;
  text-align:center;
  vertical-align:middle;
  line-height:90px;
  background-color:  	#DCDCDC
}


.loginLink a{
  font-size: x-large ;
  float: right;
  color:#179b81;
}

.loginLink a:hover{
  text-decoration: none;
   color:#179b81;
   transform: scale(1.05);

}


.card-style a{
  color:#179b81;
}

.card-style a:hover{
  text-decoration: none;
  color:#179b81;

}

.card-style:hover{
   transform: scale(1.05);

}
